@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.items-event-menu {
    position: fixed;
    transform: translateX(-100%);
    overflow: hidden;
    transition: transform ease-in-out 0.5s;
    background-color: rgb(254, 254, 254);
    height: 100%;
    top: 0;
    width: 300px;
}

body {
    padding: 0;
    margin: 0;
}

.content {
    width: 100%;
    height: 100%;
}

.content-title {
    display: flex;
    align-items: center;
    padding: 10px;
}

.content-title a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.content-title a:hover {
    text-decoration: underline;
}

.content-title p {
    font-size: 18px;
}

.content-product-info {
    display: flex;
    gap: 10px;
    padding: 20px 20px;
}

.product-img {
    width: 40%;
    height: 100%;
    padding: 10px;
}

.product-img img {
    width: 100%;
    height: 100%;
}

.product-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.product-info h2 {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.product-info b {
    margin-top: 10px;
    font-size: 20px;
}

.product-info b span {
    font-weight: bold;
}

.select-size {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.select-size label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 10px;
    transition: all ease 0.5s;
}

.select-size label:hover {
    background-color: black;
    color: white;
}

.select-size input {
    display: none;
}
.select-color {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.select-color label {
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 10px;
}
.select-color input {
    display: none;
}

.select-quantity-button-cart {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.select-quantity {
    display: flex;
    border: 1px solid silver;
    width: 150px;
    height: 40px;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.select-quantity button {
    border: none;
    background-color: white;
    width: 20%;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
}

.select-quantity input {
    border: none;
    background-color: white;
    width: 60%;
    font-size: 20px;
    outline: none;
    text-align: center;
}

.button-cart button {
    height: 40px;
    width: 250px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 10px;
    font-weight: 400;
    transition: all ease 0.5s;
}

.button-cart button:hover {
    border: 2px solid aqua;
    border-radius: 20px;
    color: aqua;
}

.button-pay button {
    width: 50%;
    height: 60px;
    font-size: 20px;
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    transition: all ease 0.5s;
}

.button-pay button:hover {
    border-radius: 20px;
}

.container-box-suggest {
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    height: 200px;
    background-color: rgb(244, 241, 241);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-suggest {
    display: flex;
    gap: 5px;
}

.box-suggest ion-icon {
    width: 30px;
    height: 30px;
}

.box-suggest p {
    font-size: 18px;
    margin: 0;
    font-weight: 400;
}

.container-descript-product {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.title-descript p {
    font-size: 18px;
    cursor: pointer;
    margin: 0;
}

.title-descript p:hover {
    text-decoration: underline;
}

#show-descript {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all ease 0.5s;
}

.product-suggest {
    margin-bottom: 20px;
}

.title-product-suggest h2 {
    margin-left: 10px;
    font-weight: 400;
}

.card-product-suggest {
    display: flex;
    width: 100%;
    height: auto;
    gap: 10px;
}

.card {
    width: 400px;
    height: 100%;
    border: 1px solid silver;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 60%;
}

.color-card {
    display: flex;
    gap: 10px;
}

.color-card span {
    width: 30px;
    height: 30px;
    border: 1px solid silver;
}

.color-card span:nth-child(1) {
    background-color: red;
}

.color-card span:nth-child(2) {
    background-color: black;
}

.color-card span:nth-child(3) {
    background-color: green;
}

.card p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 4px;
}

.card p:hover {
    text-decoration: underline;
}